@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

body::-webkit-scrollbar-track {
  background: #ffff;
}

body::-webkit-scrollbar-thumb {
  background: #ffd4e9;
  border-radius: 5px;
}
